body{
            background: rgb(29, 17, 17); /* Cor do fundo */
            text-align: center; /* Alinhamento do texto */
            text-decoration: none; /* Cor da decoração do texto */
            color: rgb(255, 255, 255); /* Cor do texto */
        }